  <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>
<p>
 <storong>Title:</storong>
 <%= @book.title %>  
</p>

<p>
 <storong>Body:</storong>
 <%= @book.body %>  
</p>

<%= link_to "Edit", edit_book_path(@book.id),class: "edit_link" %>
 |
<%= link_to 'Back', :back,class: "edit_link"%> 
